{% extends "base.html" %}
{% load static %}


{% comment %} 
# Set the Title for the page 
{% endcomment %}
{% block head_title %}
    {% comment %} Terms and Conditions {% endcomment %}
{% endblock head_title %}

{% comment %} 
# Set the CSS file and Other for the page 
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}

{% comment %} 
# Overrides the BODY tag. Carefull! 
{% endcomment %}
{% block body %}
{% endblock body %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
{% endblock content %}

{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
{% endblock extra_body %}

